<html>
    <head><title> Post CoViD Life </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src=  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">   </script>  
      
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">SENTIMENT ANALYSIS OF COVID-19 LOCKDOWN RESPONSE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
          
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME <span class="sr-only"></span></a>
                </li>
          
                <li class="nav-item">
                  <a class="nav-link" href="/">PREDICT</a>
                </li>
          
                <li class="nav-item">
                  <a class="nav-link" href="/">DASHBOARD</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/">ARTICLES</a>
                </li>
                
          </ul>
              
            </div>
          </nav>

      <br><br>

      <div class="card text-center">
        <div class="card-header">
          ARTICLE #1
        </div>
        <div class="card-body">
          <h5 class="card-title"><u>Post COVID Life</u></h5>
          <p class="card-text">
            <b>A NEW NORMAL ?</b><br>
            With fewer people travelling to work, busy restaurants in downtown locations will be forced to scale back. Most are facing imminent closure now, so many may never come back.
            With everyone travelling less, there will be less demand for oil. Economies that depend primarily on selling oil — like the OPEC states and Russia — will be severely affected.
            The world could well be looking at a big drop in global employment. Meanwhile, advances from automation, artificial intelligence, and robotics will likely continue at a breathtaking pace — placing strains on a smaller workforce.
            Another sector which is bound to go through a sea of change is the mentality of ‘shopping for show-off’. 
            If there is anything which has been made evident during these testing times is the fact that we hardly need more
            than two pair clothes, a roof over our heads and fresh food to eat to survive.
            The pandemic has certainly brought to light the harsh, cold truth that saving money is indeed the need of the hour.
            
          </p>
          
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
          
    </body>
</html>