<html>
    <head><title> Post CoViD Life </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src=  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">   </script>  
      
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">SENTIMENT ANALYSIS OF COVID-19 LOCKDOWN RESPONSE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
          
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME <span class="sr-only"></span></a>
                </li>
          
                <li class="nav-item">
                  <a class="nav-link" href="/">PREDICT</a>
                </li>
          
                <li class="nav-item">
                  <a class="nav-link" href="/">DASHBOARD</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/">ARTICLES</a>
                </li>
                
          </ul>
              
            </div>
          </nav>

      <br><br>

      <div class="card text-center">
        <div class="card-header">
          ARTICLE #2
        </div>
        <div class="card-body">
          <h5 class="card-title"><u>Pre COVID Life</u></h5>
          <p class="card-text">
            <b>‘Work and life would never be same as before’
            </b><br>
            There is no definite time frame which one can give to answer this question. Whether you say 6 months or 3 years, all is based on certain assumptions. According to me it will at least take a year to resume normalcy but work and life will never return to the pre-crisis period. 
            Normalcy won’t be restored until a vaccine is developed and people are immunised at a mass level. Till then, we’ll have to live with Covid-19 and a new ‘normalcy’. 
            India simply cannot return to life and work as before. Our doubling rate may have declined but more cases are still pouring in, social distancing has become a joke and people are acting ignorant.
            Some jobs may become obsolete giving rise to new gig jobs. Online streaming platforms already have an edge over multiplexes. A crisis like this has unveiled our shortcomings on which India needs to work on in the near future by making necessary reforms. 
            
          </p>
          
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
          
    </body>
</html>